<ion-header>
  <ion-toolbar>
    <ion-buttons >
      <ion-back-button slot="start"></ion-back-button>
      <ion-title style="padding-left: 23%;"> UniJobs</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
        <br/>
      <ion-col size="12" style="text-align: center;">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title>Datos personales</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <ion-item>
                <ion-label position="floating">Nombre:</ion-label>
                <ion-input type="text" placeholder="Ingrese su nombre"></ion-input>
              </ion-item>
            <ion-item >
              <ion-label position="floating">Apellido: </ion-label>
              <ion-input type="text"  placeholder="Ingrese su apellido"></ion-input>
            </ion-item>
            <ion-item >
              <ion-label position="floating">Run: </ion-label>
              <ion-input type="run"  placeholder="123456789"></ion-input>
            </ion-item>
            <p style="color:grey;font-size: small; text-align: left;margin-left: 20px;">Sin puntos, ni guión.</p>
  
            <ion-item >
              <ion-label  position="floating">Fecha de nacimiento:  </ion-label>
              <ion-datetime type="date" displayFormat="DD-MM-YYYY" min="1950" max="2002"><ion-input> {{fecha1 | date:"dd-MM-yyyy"}}</ion-input></ion-datetime>
            </ion-item>
            <ion-button expand="block" style="margin: 10%;" [routerLink]="['/registrarse3']">SIGUIENTE</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-col >
    
  </ion-col>
</ion-content>

