h1 {
    font-family:  sans-serif;
    font-weight: bold;
}
ion-content{
    font-family: sans-serif;
}
ion-button{
    font-family: monospace;
    font-size: 2vmax;
    font-weight: bold;
    margin:5%;
}