
h3{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 60px;
    text-align: center;
    padding: 10px;
  }
  h2{
    text-align: center;
    padding: 10px;
  }
  img{
    display: block;
    margin: auto;
    height: 130px;
    width: auto;
  }
 