
 <ion-content  [fullscreen]="true" >
  <ion-buttons >
    <ion-searchbar animated  placeholder="Buscar trabajos" (ionInput)="getItem($event)"></ion-searchbar>
    <ion-button>
      <ion-icon name="filter-outline"></ion-icon>   
   </ion-button>
  </ion-buttons>

  <ion-buttons style="display:block;" > 
      <ion-button style="font-size: 10px; margin-left: 10px;">
        <mat-slide-toggle class="toggle" color="primary" (click)="accion1()"style="border-color: grey;"><ion-icon style="height: 140px;width: 25px;" name="location-outline" ></ion-icon></mat-slide-toggle>
            Ubicacion</ion-button>

  </ion-buttons>
  <br>
  <div>
    <ion-list *ngIf="ocultar1">
        <mat-card class="example-card" *ngFor="let item of empleo" [routerLink]="['/home', empleo.id]">
          <mat-card-title-group>
            <mat-card-title>{{item.titulo}}</mat-card-title>
            <mat-card-subtitle>{{item.id}}</mat-card-subtitle>
            <img [src]="item.imageURL" >
          </mat-card-title-group>
          <mat-card-content>
            {{item.texto}}
          </mat-card-content>
          <mat-card-actions>
            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
              <mat-icon mat-button>Postular</mat-icon>
            </button>
          
           
          </mat-card-actions>
        </mat-card>
   
    </ion-list>

 <!--<ion-list *ngIf="ocultar1" >
    <ion-item *ngFor="let item of empleo" [routerLink]="['/home', empleo.id]">
      <ion-label>
        <ion-title style="display: block;float:left;">{{item.titulo}}</ion-title>
      </ion-label>
      <ion-avatar slot="start">
        <ion-img [src]="item.imageURL"></ion-img>
      </ion-avatar>
    </ion-item>
  </ion-list>-->

  <div *ngIf="ocultar2">
    <br>
    <img src="../../../assets/icon/location-error.svg" alt="" >
    
    <h3  >Upps.. <br> <h2>Debes encender tu ubicación para acceder a los trabajos cercanos</h2></h3>
  </div>
</div>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button [routerLink]="['/agregar-empleo']">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

</ion-fab>

