<ion-header>
  <ion-toolbar>
    <ion-buttons >
      <ion-back-button slot="start"></ion-back-button>
      <ion-title style="padding-left: 23%;"> UniJobs</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col ></ion-col>
      <ion-col size="12">
        <br/>
        <ion-card>
          <ion-card-header>
            <ion-card-title style="text-align:center">Crea tu cuenta</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Correo: </ion-label>
              <ion-input type="email" placeholder="Ingrese su correo electronico"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Contraseña:  </ion-label>
              <ion-input type="password" placeholder="Ingrese su contraseña"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" >Repetir contraseña:  </ion-label>
              <ion-input type="password" placeholder="Repita su contraseña"  ></ion-input>
            </ion-item>
            <ion-button expand="block" style="margin: 10%;" [routerLink]="['/registrarse4']">SIGUIENTE</ion-button>
          </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
      <ion-col>
        
      </ion-col>
  
  

</ion-content>